modules = ["web", "nodejs-20"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37175
externalPort = 3002

[[ports]]
localPort = 41045
externalPort = 3000

[[ports]]
localPort = 42399
externalPort = 4200

[agent]
expertMode = true
integrations = ["sendgrid:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["killall"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Predora Server"

[[workflows.workflow]]
name = "Start Predora Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"
waitForPort = 5000


